@import "../base/mixin";

body {
    background: $white-bg;
    color: #282828;
    font-family: 'Myriad Pro Regular' !important;
}

h1 {
    color: #282828;
}

.main-container {
    width: $page-width;
    margin: 0 auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
    .main-container {
        width: 576px;
        margin: 0 auto;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .main-container {
        width: 768px;
        margin: 0 auto;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .main-container {
        width: 992px;
        margin: 0 auto;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .main-container {
        width: $page-width;
        margin: 0 auto;
    }
}
