.best-video-container {
    border-bottom: 1px solid #eee;
    padding-bottom: 75px;

    h2 {
        font-size: 57.333333333333336px;
        text-align: center;
        font-weight: bold;
        margin: 75px 0 25px 0;
    }

    .card {
        width: 31%;
        float: left;
        height: 600px;
        margin-right: 42px;
        margin-bottom: 20px;

        .card-title {
            color: #282828;
            font-size: 30.666666666666668px;
        }

        .card-text.date {
            border-right: 1px solid #e5e5e5;
            padding-right: 19px;
            display: inline-block;

            .fa-calendar {
                color: #2fdbd9;
                width: 25px;
            }

            img {
                margin-top: -9px;
                margin-right: 5px;
            }

            .text-muted {
                font-size: 20px;
                color: #2fdbd9 !important;
            }
        }

        .card-text.views {
            display: inline-block;
            padding-left: 18px;
            color: #636363;
            font-size: 20px;

            .fa-eye {
                color: #636363;
            }

            img {
                margin-top: -5px;
            }
        }

        .card-text.description {
            font-size: 21.333333333333332px;
            color: #636363;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
    .best-video-container {
        .card {
            width: 100%;
            margin-right: 0px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .best-video-container {
        .card {
            width: 48%;
            margin-right: 30px;
            &:nth-child(2n+2) {
                margin-right: 0;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .best-video-container {
        .card {
            margin-right: 34px;

            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .best-video-container {
        .card {
            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }
}