.funnest-container {
    border-bottom: 1px solid #eee;
    padding-bottom: 75px;

    h2 {
        font-size: 57.333333333333336px;
        text-align: center;
        font-weight: bold;
        margin: 75px 0 25px 0;
    }

    .card-send-prank {
        width: 480px;
        height: 70px;
        background: #237f11;
        color: #fff;
        font-size: 32px;
        text-align: center;
        display: block;
        border-color: #237f11;

        &:hover,
        &:clicked,
        &:focus,
        &:active {
            border-color: #237f11 !important;
        }
    }
}