#banner2 {
  position: relative;
  margin-top: 75px;

  a#apple-store-btn {
    position: absolute;
    left: 585px;
    top: 209px;
  }

  a#google-play-btn {
    position: absolute;
    left: 872px;
    top: 209px;
  }
}